* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  border: 0;
  
}

a,
a:link,
a:visited {
  text-decoration: none;
  outline: none;
  border: none;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

section,
span,
p {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;

}

.header {
  background-image: url(images.jpg.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

.header-navbar {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 100px;
  position: sticky;
  top: 0;
  z-index: 1030;
}

.header-logo {

  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: 25px;
  letter-spacing: 2px;

}

ul {
  display: flex;
}

li {
  margin-left: 27px;
}

a {
  color: rgb(207, 11, 11);
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
  color: #291107;

}

a:hover {
  color: #9184da;

}

.header-text {
  position: absolute;
  letter-spacing: 2px;
  top: 20%;
  left: 25%;
  transform: translateX(-50%);
  font-family: 'Josefin Sans', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2rem;
  font-weight: 300px;
  line-height: 0.4;
  letter-spacing: 2px;
  margin-bottom: 30px;

}

h3 {
  margin-bottom: 30px;
  font-size: 22px;
}

.btn {
  display: block;
  color: black;
  padding: 10px 10px;
  font-size: 20px;
  position: relative;
  overflow: hidden;
  border-radius: 5px;

  transition: 0.5s;
}

.btn:hover {
  background-color: #073005;
  color: #C3D3C6;
}

/* About */
.about {
  
  margin-bottom: 150px;
}

.about-title {
  margin: 100px 0;
}

.about-title h2 {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  color: #073005;
  font-size: 35px;
  font-weight: 600px;
  font-family: 'Josefin Sans', sans-serif;
}

.about-title h2::after {
  content: "";
  width: 80px;
  height: 3px;
  background-color: #84DAA8;
  margin: 0 auto;
  display: block;
  margin-top: 10px;

}


.about-text p {
  float: none;
  display: block;
  font-size: 20px;
  padding: 0 20%;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  padding-left: 25%;
  text-align: justify;
  
}

.btn-cv {
  display: block;
  color: black;
  padding: 10px 10px;
  font-size: 20px;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  margin: 10px 40%;
  margin-top: 50px;
  transition: 0.5s;
}

.btn-cv:hover {
  background-color: #073005;
  color: #C3D3C6;
}

/* skills */
.skills {
  margin-top: 100px;
  margin-bottom: 150px;
  height: 25vh;


}

.skills-title h2 {
  padding-top: 7px;
  margin-top: 100px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  color: #000000;
  font-size: 35px;
  font-weight: 600px;
  font-family: 'Josefin Sans', sans-serif;

}

.skills-title h2::after {
  content: "";
  width: 80px;
  height: 3px;
  background-color: #84DAA8;
  margin: 0 auto;
  display: block;
  margin-top: 10px;

}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  justify-content: flex-end;

}

@media only screen and (max-width:720px) {
  .skills-list {
    max-width: 100%;
    justify-content: center;

  }

  .skills-section {
    flex-direction: column;
    align-items: center;

  }
}

.skill-card {
  width: max-content;
  padding: 8px 16px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 6px;


}

.skill-icon {
  font-size: 80px;

}

.skill-name {
  font-size: 18px;

}

@media only screen and (max-width:720px) {
  .skill-cardp {
    width: max-content;
    height: 100px;


  }

  .skill-icon {
    font-size: 60px;

  }

}
/* skills */


/* projects */
.project-title {
  margin: 0px 0;
}

.project-title h2 {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  color: #073005;
  font-size: 35px;
  font-weight: 600px;
  font-family: 'Josefin Sans', sans-serif;
}

.project-title h2::after {
  content: "";
  width: 80px;
  height: 3px;
  background-color: #84DAA8;
  margin: 0 auto;
  display: block;
  margin-top: 10px;

}

.project {
  display: flex;
  flex-wrap: wrap;
  margin-left: 220px;
}

.project-item {
  width: 35%;
  height: 300px;
  overflow: hidden;
  margin: 56px;
  position: relative;

}

.project-item img {
border: #000000 solid 5px;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  transition: .5s;
}

.overlay {
  border-radius: 30px;
  border: #000000 solid 5px;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  position: absolute;
  top: 100%;
  left: 0%;
  opacity: 0.8;
  color: #000000;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s;
}

.project-item:hover .overlay {
  top: 0;

}

.project-item:hover img {
  transform: scale(1.1);
}

/* projects */

/* contacts */
.contact{
  padding: 10px 0;
  margin-top: 100px;
  margin-bottom: 0px;
  height: 85vh;
  
  
}
.contact-title{
  margin: 50px 0px;
  margin-top: 20px;


}
.contact-title h2{
  padding-top: 100px;
  margin-top: 100px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  color: #073005;
  font-size: 35px;
  font-weight: 600px;
  font-family: 'Josefin Sans', sans-serif;
  
}
.contact-title h2::after{
  content: "";
  width: 80px;
  height: 3px;
  background-color: #84DAA8;
  margin: 0 auto;
  display: block;
  margin-top: 10px;

}
.contact-content{
  margin-top: 150px;
  display: flex;
  justify-content: space-evenly;

}
.contact-item{
  display: flex;
  align-items: center;
  flex-basis: 33%;
  margin-bottom: 100px;
  flex-direction: column;
}
.contact-item i{
  font-size: 30px;
  margin-bottom: 30px;
  color: #062104;
  transition: 0.5s;
}
.contact-item i:hover{
  color: white;
}